<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/home.view.css">
  <title>Desplazados app</title>
</head>
<body>
  <main class="container-cards">
    <a href="../users.view.html" class="card-menu" style="flex-direction:row;">
      <img class="card-menu__img" src="../../assets/images/users.png" alt="Users icon">
      <h2 class="card-menu__title">Usuarios</h2>
    </a>
    <a href="views/users.view.html" class="card-menu">
      <img class="card-menu__img" src="../../assets/images/refugee.png" alt="Users icon">
      <h2 class="card-menu__title">Desplazados</h2>
    </a>
    <a href="../motive.views/create.motive.view.html" class="card-menu">
      <img class="card-menu__img" src="../../assets/images/desplazament.png" alt="Users icon">
      <h2 class="card-menu__title">Tipo de desplazamientos</h2>
    </a>
  </main>
</body>
</html>
