<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desplazados app - Usuarios</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/test.css" />
  </head>
  <body>
    <nav class="navbar glass">
      <ion-icon name="accessibility"></ion-icon>
      <a href="./users.view.html">
        <ion-icon name="add"></ion-icon>
      </a>
    </nav>
    <main class="cards">
      <div class="card glass">
        <span class="card-close glass">
          <ion-icon name="close"></ion-icon>
        </span>
        <span class="card-number">1</span>
        <div class="card-items">
          <div class="card-item">
            <h2 class="card-item__title">Nombre completo</h2>
            <p class="card-item__content">Rafael Ramos Reales</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Residencia</h2>
            <p class="card-item__content">Soledad, Atlántico</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Fecha de nacimiento</h2>
            <p class="card-item__content">28/05/1997</p>
          </div>
        </div>
      </div>
      <div class="card glass">
        <span class="card-close glass">
          <ion-icon name="close"></ion-icon>
        </span>
        <span class="card-number">2</span>
        <div class="card-items">
          <div class="card-item">
            <h2 class="card-item__title">Nombre completo</h2>
            <p class="card-item__content">Rafael Ramos Reales</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Residencia</h2>
            <p class="card-item__content">Soledad, Atlántico</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Fecha de nacimiento</h2>
            <p class="card-item__content">28/05/1997</p>
          </div>
        </div>
      </div>
      <div class="card glass">
        <span class="card-close glass">
          <ion-icon name="close"></ion-icon>
        </span>
        <span class="card-number">3</span>
        <div class="card-items">
          <div class="card-item">
            <h2 class="card-item__title">Nombre completo</h2>
            <p class="card-item__content">Rafael Ramos Reales</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Residencia</h2>
            <p class="card-item__content">Soledad, Atlántico</p>
          </div>
          <div class="card-item">
            <h2 class="card-item__title">Fecha de nacimiento</h2>
            <p class="card-item__content">28/05/1997</p>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
