<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/styles.css">
  <link rel="stylesheet" href="../../css/home.view.css">
  <link rel="stylesheet" href="../../css/read.motive.css">
  <title>Listado tipo de desplazamientos</title>
</head>
<body>
  <h1 class="title text-center">Listado</h1>
  <p class="text-center">Sistema integrado de desplazados colombianos.</p>
  <main class="container-cards">
    <div class="card-menu">
      <div class="card-menu__num" >
        <div class="size">1</div>
      </div>
      <div class="card-menu__title">
        <h4>Motivo desplazamiento</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="control-submit">
        <div>
          <input
          class="btn control-submit__btn"
          type="submit"
          value="A"
        />
        </div>
        <div>
          <input
          class="btn control-submit__btn"
          type="submit"
          value="M"
        />
        </div>
        <div>
          <input
          class="btn control-submit__btn"
          type="submit"
          value="E"
        />
        </div>
      </div>
    </div>
  </main>
</body>
</html>
