<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desplazados app - Usuarios</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/users.view.css" />
  </head>
  <body>
    <main class="container-login">
      <form class="login" autocomplete="off">
        <div class="login__content-logo">
          <img
            class="login__logo"
            src="../../assets/images/users.png"
            alt="Login logo"
          />
        </div>


        <div class="control-input">
          <input
            class="control-input__field"
            id="name"
            name="name"
            placeholder="Nombre completo"
            type="text"
          />
        </div>


        <div class="control-submit">
          <input
            class="btn control-submit__btn"
            type="submit"
            value="Aceptar"
          />
          <a class="btn control-submit__btn" href="../../index.html">Cancelar</a>
        </div>
      </form>
    </main>
  </body>
</html>
