<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIDC - Motivo desplazamiento</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/card.css" />
    <link rel="stylesheet" href="../css/tools.css" />
  </head>
  <body>
    <!-- ( NAVBAR ) -->
    <nav class="navbar">
      <a href="../index.html">
        <picture>
          <source
            media="(prefers-color-scheme: dark)"
            srcset="../assets/images/svg/dark-logo.svg"
          />
          <img
            src="../assets/images/svg/light-logo.svg"
            alt="logo"
            width="50"
            height="50"
          />
        </picture>
      </a>
      <span id="btn-form" class="card-open glass rotate">
        <img src="../assets/images/svg/close.svg" alt="close icon" />
      </span>
    </nav>

    <!-- ( CARD LIST ) -->
    <h1 class="title">MOTIVOS DE DESPLAZAMIENTO</h1>
    <main id="card-list" class="cards"></main>

    <!-- ( FORM MAIN ) -->
    <section id="form-container" class="container-form">
      <form id="main-form" class="form" autocomplete="off">
        <input type="hidden" name="id">
        <div class="form__content-logo">
          <img
            class="form__logo invert"
            src="../assets/images/png/desplazament.png"
            alt="Login logo"
          />
        </div>

        <div class="control-input">
          <label class="control-input__label">
            Motivo desplazamiento
            <input
              class="control-input__field"
              name="motivo"
              placeholder="Motivo desplazamiento"
              class="control-input__field"
              type="text"
            />
          </label>
        </div>

        <div class="control-submit">
          <input
            class="control-submit__btn control-input__field"
            type="submit"
            value="Aceptar"
          />
        </div>
      </form>
    </section>

    <!-- ( PAGINATE ) -->
    <section id="paginate" class="pagination"></section>

    <!-- ( ALERT AND TRASH ZONE ) -->
    <section id="trash" class="alert">
      <div class="alert__content trash">
        <img
          class="invert"
          src="../assets/images/svg/trash.svg"
          alt="Trash icon"
          width="50"
          height="50"
        />
        <p>ELIMINAR ELEMENTO</p>
      </div>
    </section>

    <!-- ( BOTTOM NAVBAR ) -->
    <footer class="tabs glass">
      <a href="./users.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/users.png"
          alt="usuarios"
          width="30"
          height="30"
        />
      </a>
      <a href="./displaced.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/refugee.png"
          alt="refugiados"
          width="30"
          height="30"
        />
      </a>
      <a href="./motive.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/desplazament.png"
          alt="desplazados"
          width="30"
          height="30"
        />
      </a>
    </footer>
  </body>
</html>
