<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desplazados app - Usuarios</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/users.view.css" />
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <script src="../js/funciones.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <main class="container-login">
      <form class="login" autocomplete="off">
        <div class="login__content-logo">
          <img
            class="login__logo"
            src="../assets/images/users.png"
            alt="Login logo"
          />
        </div>

        <div class="control-input">
          <select
            class="control-input__field"
            id="tipo_documentos"
            name="tipo_documentos"
          >

          </select>




          <input
            class="control-input__field"
            id="document-number"
            name="document-number"
            placeholder="Número de documento"
            type="number"
          />
        </div>

        <div class="control-input">
          <input
            class="control-input__field"
            id="name"
            name="name"
            placeholder="Nombre completo"
            type="text"
          />

          <select class="control-input__field" id="sexos" name="sexo">

          </select>
        </div>

        <div class="control-input">
          <input
            class="control-input__field"
            name="birthday-date"
            type="date"
          />
          <select class="control-input__field" id="municipios_n" name="municipio_n">

          </select>
        </div>

        <div class="control-input">
          <select class="control-input__field" id="municipios_r" name="municipio_r">

          </select>
          <input
            class="control-input__field"
            id="direction"
            name="direction"
            placeholder="Dirección de residencia"
            type="text"
          />
        </div>

        <div class="control-submit">
          <input
            class="btn control-submit__btn"
            type="submit"
            value="Aceptar"
          />
          <a class="btn control-submit__btn" href="../index.html">Cancelar</a>
        </div>
      </form>
    </main>
  </body>
</html>
