<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIDC - Usuarios</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/card.css" />
    <link rel="stylesheet" href="../css/tools.css" />
  </head>
  <body>
    <!-- ( NAVBAR ) -->
    <nav class="navbar">
      <a href="../index.html">
        <img
          class="invert"
          src="../assets/images/svg/light-logo.svg"
          alt="logo"
          width="50"
          height="50"
        />
      </a>
      <span id="btn-form" class="card-open glass rotate">
        <img src="../assets/images/svg/close.svg" alt="close icon" />
      </span>
    </nav>

    <!-- ( CARD LIST ) -->
    <main id="card-list" class="cards"></main>

    <!-- ( FORM MAIN ) -->
    <section id="form-container" class="container-form">
      <form id="main-form" class="form" autocomplete="off">
        <div class="form__content-logo">
          <img
            class="form__logo invert"
            src="../assets/images/users.png"
            alt="form logo"
          />
        </div>

        <div class="control-input">
          <select
            class="control-input__field"
            name="id_tipo_identificacion"
          >
            <option value="1">Cédula de ciudadanía</option>
            <option value="2">Tarjeta de identidad</option>
          </select>
          <input
            class="control-input__field"
            name="num_documento"
            placeholder="Número de documento"
            class="control-input__field"
            type="number"
          />
        </div>

        <div class="control-input">
          <input
            class="control-input__field"
            name="nombre"
            placeholder="Nombre completo"
            class="control-input__field"
            type="text"
          />
          <select class="control-input__field" name="id_sexo">
            <option value="1">Femenino</option>
            <option value="2">Masculino</option>
            <option value="3">Otro</option>
          </select>
        </div>

        <div class="control-input">
          <input
            class="control-input__field"
            name="fecha_nacimiento"
            class="control-input__field"
            type="date"
          />
          <select class="control-input__field" name="id_municipio_residencia">
            <option value="1">Atlántico - Barranquilla</option>
            <option value="2">Bolivar - Cartagena</option>
            <option value="3">Cesar - Cesar</option>
          </select>
        </div>

        <div class="control-input">
          <select class="control-input__field" name="id_municipio_nacimiento">
            <option value="1">Atlántico - Barranquilla</option>
            <option value="2">Bolivar - Cartagena</option>
            <option value="3">Cesar - Cesar</option>
          </select>
          <input
            class="control-input__field"
            name="direccion"
            placeholder="Dirección de residencia"
            class="control-input__field"
            type="text"
          />
        </div>

        <div class="control-submit">
          <input
            class="btn control-submit__btn"
            class="control-input__field"
            type="submit"
            value="Aceptar"
          />
        </div>
      </form>
    </section>

    <section id="paginate" class="pagination"></section>

    <section id="trash" class="alert">
      <div class="alert__content trash">
        <img class="invert" src="../assets/images/svg/trash.svg" alt="Trash icon" width="50" height="50">
        <p>ELIMINAR ELEMENTO</p>
      </div>
      <!-- <div class="alert__content alert__content--good glass">
        <p>!Upps¡ Ha sucedido un error.</p>
        <img class="invert" src="../assets/images/svg/sad.svg" alt="Bad response" width="30" height="30">
      </div> -->
    </section>

    <footer class="tabs glass">
      <a href="./users.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/users.png"
          alt="usuarios"
          width="30"
          height="30"
        />
      </a>
      <a href="./users.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/refugee.png"
          alt="refugiados"
          width="30"
          height="30"
        />
      </a>
      <a href="./users.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/desplazament.png"
          alt="desplazados"
          width="30"
          height="30"
        />
      </a>
    </footer>

    <script src="../js/utils/sortable.js"></script>
    <script src="../js/main.js" type="module"></script>
  </body>
</html>
