<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /><link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/vista_despla.css" />
  <title>card component</title>
</head>
<body>
  <div class="Rander">
    <div class="tarjeta">
      <div class="arriba">
        <span class="tarjeta-numero">1</span>
        <div class="tarjeta-item">
          <h3 class="tarjeta-item__titulo"> Nombre completo</h3>
          <p class="tarjeta-item__contenido">Leian Mepa Lo</p>
        </div>
      </div>
      <div class="container">
        <div class="abajo">
          <div class="tarjeta-item">
            <h3 class="tarjeta-item__titulo">fecha desplazamiento</h3>
            <p class="tarjeta-item__contenido">12/08/2021</p>
          </div>
          <div class="tarjeta-item">
            <h3 class="tarjeta-item__titulo">Municipio desplazamiento </h3>
            <p class="tarjeta-item__contenido">Bucaramanga,Santander</p>
          </div>
        </div>
        <div class="vander">
          <button class="mos">M</button>
          <button class="mos">E</button>
        </div>
      </div>
    </div>
    <div class="tarjeta">
        <div class="arriba">
          <span class="tarjeta-numero">2</span>
          <div class="tarjeta-item">
            <h3 class="tarjeta-item__titulo"> Nombre completo</h3>
            <p class="tarjeta-item__contenido">Leian Mepa Lo</p>
          </div>
        </div>
        <div class="container">
          <div class="abajo">
            <div class="tarjeta-item">
              <h3 class="tarjeta-item__titulo">Fecha desplazamiento</h3>
              <p class="tarjeta-item__contenido">12/09/2021</p>
            </div>
            <div class="tarjeta-item">
              <h3 class="tarjeta-item__titulo">Residencia </h3>
              <p class="tarjeta-item__contenido">Bucaramanga,Santander</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tarjeta">
        <div class="arriba">
          <span class="tarjeta-numero">3</span>
          <div class="tarjeta-item">
            <h3 class="tarjeta-item__titulo"> Nombre completo</h3>
            <p class="tarjeta-item__contenido">Leian Mepa Lo</p>
          </div>
        </div>
        <div class="container">
          <div class="abajo">
            <div class="tarjeta-item">
              <h3 class="tarjeta-item__titulo">fecha desplazamiento</h3>
              <p class="tarjeta-item__contenido">12/08/2021</p>
            </div>
            <div class="tarjeta-item">
              <h3 class="tarjeta-item__titulo">Municipio desplazamiento</h3>
              <p class="tarjeta-item__contenido">Bucaramanga,Santander</p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  </div>
</body>
</html>