<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    />
    <title>SIDC - Desplazados</title>
    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/card.css" />
    <link rel="stylesheet" href="../css/tools.css" />
  </head>
  <body>
    <!--(NAVBAR)-->
    <nav class="navbar">
      <a href="../index.html">
        <img
          src="../assets/images/svg/logo.svg"
          alt="logo"
          width="50"
          height="50"
        />
      </a>
      <span id="btn-form" class="card-open glass rotate">
        <img src="../assets/images/svg/close.svg" alt="close icon" />
      </span>
    </nav>

    <!-- (CAR LIST)-->
    <h1 class="title">DESPLAZADOS</h1>
    <main id="card-list" class="cards"></main>

    <!-- ( PAGINATE ) -->
    <section id="paginate" class="pagination"></section>

    <!-- ( ALERT AND TRASH ZONE ) -->
    <section id="trash" class="alert">
      <div class="alert__content trash">
        <img
          class="invert"
          src="../assets/images/svg/trash.svg"
          alt="Trash icon"
          width="50"
          height="50"
        />
        <p>ELIMINAR ELEMENTO</p>
      </div>
    </section>

    <!-- FORM MAIN-->
    <section id="form-container" class="container-form">
      <form id="main-form" class="form" autocomplete="off">
        <input type="hidden" name="id">
        <div class="form__content-logo">
          <img
            class="form__logo invert"
            src="../assets/images/png/refugee.png"
            alt="Login logo"
          />
        </div>

        <div class="control-input">
          <label class="control-input__label"
            >Desplazado
            <select
              class="control-input__field"
              name="id_persona"
              id="id_persona"
            ></select>
          </label>
          <label class="control-input__label"
            >Fecha de desplazamiento
            <input
              class="control-input__field"
              name="fecha_desplazamiento"
              type="date"
            />
          </label>
        </div>

        <div class="control-input">
          <label class="control-input__label"
            >Motivo de desplazamiento
            <select
              class="control-input__field"
              id="id_motivo_desplazamiento"
              name="id_motivo_desplazamiento"
            ></select>
          </label>
          <label class="control-input__label"
            >Municipio de desplazamiento
            <select
              class="control-input__field"
              id="id_municipio_desplazamiento"
              name="id_municipio_desplazamiento"
            ></select>
          </label>
        </div>

        <div class="control-input">
          <label class="control-input__label"
            >Observación
            <textarea
              class="control-input__field control-input--line"
              name="observacion"
            ></textarea>
          </label>
        </div>

        <div class="control-submit">
          <input
            class="control-submit__btn control-input__field"
            type="submit"
            value="Aceptar"
          />
        </div>
      </form>
    </section>

    <!-- ( BOTTOM NAVBAR ) -->
    <footer class="tabs glass">
      <a href="./users.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/users.png"
          alt="usuarios"
          width="30"
          height="30"
        />
      </a>
      <a href="./displaced.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/refugee.png"
          alt="refugiados"
          width="30"
          height="30"
        />
      </a>
      <a href="./motive.view.html" class="tab-item">
        <img
          class="invert"
          src="../assets/images/png/desplazament.png"
          alt="desplazados"
          width="30"
          height="30"
        />
      </a>
    </footer>

    <!-- ( SCRIPTS ) -->
    <script src="../js/utils/sortable.js"></script>
    <script src="../js/main.js" type="module"></script>
  </body>
</html>
