@font-face{
  font-family: 'Montserrat Alternates';
  src: url('../assets/fonts/MontserratAlternates-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: Raleway;
  src: url('../assets/fonts/Raleway-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #44b3cf;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat Alternates', sans-serif;
}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.card-menu__title,
.title {
  font-family: Raleway;
}

.text-center {
  text-align: center;
}

.card-menu {
 width: 240px;
 padding: 1em;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 15px;
 background-color: rgb(231, 223, 231);
 cursor: pointer;
}

.card-menu__title {
  font-size: 1.2rem;
}

.card-menu__img {
  width: 3.5rem;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 900px) {
  .container-cards {
    flex-direction: row;
  }
}
