.pagination {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  padding: 0;
}

.pagination__radio {
  visibility: hidden;
}

.pagination__design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: linear-gradient(
    to right bottom,
    hsl(154, 97%, 62%),
    hsl(225, 97%, 62%)
  );
}

.pagination__design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: var(--secondary-color);
  transition: 0.3s;
}

.pagination__radio:checked + .pagination__design::before {
  transform: scale(0);
}

@media screen and (min-width: 900px) {
  .pagination__design {
    cursor: pointer;
  }
}
